@model Category

<form method="Post" action="/Admin/Categories/Update">
    <input type="hidden" class="form-control" value="@Model.Id" name="Id" id="categoryId">

    <div class="form-group my-3">
        <label for="categoryName">Category Name</label>
        <input type="text" class="form-control" value="@Model.Name" name="Name" id="categoryName" placeholder="Enter Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group my-3">
        <label for="categoryDescription">Category Description</label>
        <textarea type="text" class="form-control" name="Description" id="categoryDescription" placeholder="Enter Description">@Model.Description</textarea>
    </div>

    <button type="submit" class="btn btn-block btn-dark btn-flat">Update</button>
</form>